---
import PageHeader from "@/components/layouts/PageHeader.astro";
import DateCalculatorComponent from "@/components/tools/date-calculator";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout
	title="Date Calculator"
	description="Calculate date differences and perform date arithmetic operations"
>
	<main class="space-8 mx-auto max-w-7xl px-6 py-12 lg:px-8">
		<PageHeader
			title="Date Calculator"
			description="Calculate date differences and perform date arithmetic operations"
		/>

		<DateCalculatorComponent client:load />
	</main>
</BaseLayout>
