---
import PageHeader from "@/components/layouts/PageHeader.astro";
import JsonFormatterComponent from "@/components/tools/json-formatter";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout
	title="JSON Formatter"
	description="Format, validate, and analyze JSON data with detailed statistics"
>
	<main class="space-8 mx-auto max-w-7xl px-6 py-12 lg:px-8">
		<PageHeader
			title="JSON Formatter"
			description="Format, validate, and analyze JSON data with detailed statistics"
		/>

		<JsonFormatterComponent client:load />
	</main>
</BaseLayout>
