---
import BaseLayout from "@/layouts/BaseLayout.astro";
import UrlEncoderComponent from "@/components/tools/url-encoder";
import PageHeader from "@/components/layouts/PageHeader.astro";
import { UrlInfo } from "@/components/partials/url/url-info";
---

<BaseLayout
	title="URL Encoder/Decoder"
	description="Encode and decode URLs to handle special characters, spaces, and non-ASCII characters safely."
>
	<main class="mx-auto max-w-5xl px-6 py-12 lg:px-8">
		<PageHeader
			title="URL Encoder/Decoder"
			description="Encode and decode URLs to handle special characters, spaces, and non-ASCII characters safely."
		/>

		<UrlEncoderComponent client:load />

		<UrlInfo />
	</main>
</BaseLayout>
