---
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<div class="mb-8 text-center">
	<h1 class="mb-6 text-4xl font-bold text-black dark:text-white">{title}</h1>
	<p class="mx-auto max-w-2xl text-lg text-neutral-600 dark:text-neutral-400">
		{description}
	</p>
</div>
